
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">About</h1>

<div>
    <h2>Bio</h2>
    <p>I'm currently 25 years old and both employed and a student. I currently work at Kroger as a department lead and I'm 
    attending Grand Circus with the goal to start a career in the tech industry as a programmer. I was born In Orillia, 
    Ontario on February 9, 1994 and have a younger sister. I enjoy playing video games, coding, playing the guitar, and 
    writing and listening to music. I'm normally a pretty quiet and shy person, but over the years I've begun to open up
    a little bit.</p>
</div>

<div>
    <h2>Social Media</h2>
    <a href="https://www.facebook.com/matthew.bateman.351">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1k44kklY1_7HicNwEUGVpksRCBxQ_l1_ELz4OBT5u3ayiHddC&s"
             width="100" height="100" />
    </a>

    <a href="https://www.linkedin.com/in/matthewkbateman/">
        <img src="https://www.pikpng.com/pngl/m/46-464425_social-media-logos-linkedin-and-pinterest-logos-like.png"
             width="100" height="100" />
    </a>
</div>