@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Matthew Bateman</h1>
</div>

<div>
    <h2>Guitar</h2>
    <p>For years, the guitar has played a big role in my life. My interest began back in 2003 through playing Guitar Hero.
    After clearing the hardest difficulty, I decided it was time to pick up the real thing and give it a try. Several years
    later, I joined my first band. Together, we played a bunch of small shows and even attempted to get an EP recorded. Now,
    I may no longer be in a band, but I still play guitar daily and write/record my own music.</p>
</div>

<div>
    <h2>Programming</h2>
    <p>Programming, though only a recent thing of interest, has quickly become one of the biggest. I've always been on computers, 
    whether it be for gaming, watching videos, or browsing. Over the years, that interest has gone from simply viewing and using 
    programs and apps to wanting to develop and create them myself. Furthermore, the more I learn about coding and development, 
    the more excited I become to try out what I've learned.</p>
</div>

<div>
    <h2>Martial Arts</h2>
    <p>Way back in 2002, I joined a local dojo run by Rob and Laura Chartier by my house that trained in a style of karate called 
    Shōrin-ryū Shidōkan,originating from Okinawa. While not really big on competitions and tournaments, the style primarily focuses 
    on the self-defense aspect of martial arts. I trained there up until around the middle of 2012, eventually acheiving the rank of
    2nd dan, or 2nd degree black-belt. Though I haven't gone to the dojo in several years, I'd like to go back some day.</p>
</div>
<div>
    <h2>Hometown</h2>
    <p>My hometown is a little city in Ontario called Orillia. It's about an hour's drive north of Toronto. The population, as of 2016,
    was a whopping 31,166 people. Orillia was established as a village back in 1867, becoming a town in 1875, and eventually a city 
    in 1969. My family moved away while I was still basically a baby, so I don't really have any childhood memories of living here. 
    Despite being a small place, being virtually unknown, and filled with Canadian rednecks, Orillia is a nice place and, surprisingly, 
    even has it's own fan song.</p>
    <a href="https://www.youtube.com/watch?v=qp_zyuo0W2o">Orillia Song (YouTube)</a>
</div>