
@{
    ViewData["Title"] = "Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Portfolio</h1>

<div>
    <h2>Midterm POS</h2>
    <p>Assisted in planning, designing, created majority of payment processing and a part of validation, and bug fixes.</p>
    <button onclick="location.href='https://github.com/irichmond223/MidtermPOS'"><h6>Repo</h6></button>
</div>

<div>
    <h2>Lab 9</h2>
    <p>Entirety of project.</p>
    <button onclick="location.href='https://github.com/MBateman1882/Lab9'"><h6>Repo</h6></button>
</div>
